<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Application</title>
        <link rel="icon" href="{{ url_for('static', filename='images/node/favicon.ico') }}">
        <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='lib/bootstrap/css/docs.min.css') }}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Application</a>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="#">10:00 AM</a>
                </li>
            </ul>
        </nav>
        <br>
        <main role="main" class="container">
            <div id="id_application_container_view_module"></div>
            <footer class="footer"></footer>
        </main>

        <!-- Icons -->
        <script src="{{ url_for('static', filename='lib/feather/feather.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/nodes/js/jquery_3_3_1/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/nodes/js/popper_1_14_7/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap-slider.js') }}"></script>

        <script src="{{ url_for('static', filename='js/application/pidaptor.js') }}"></script>
        <script src="{{ url_for('static', filename='js/application/piterm.js') }}"></script>
        
        <script src="{{ url_for('static', filename='js/core/Loader.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/MKSApi.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/widgets/basic_graph.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/widgets/basic_modal.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/widgets/basic_table.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/widgets/progress_bar.js') }}"></script>

        <script type="text/javascript">
            var myVar       = "{{ data }}";
            var decodedJSON = $('<div/>').html(myVar).text();
            var web_data    = $.parseJSON(decodedJSON);

            var global_ip    = web_data.ip;
            var global_port  = web_data.port;

            var AppLoader = new Loader();
            AppLoader.Connect(function() {
                AppLoader.Load();
            });
            window.resizeTo(1200,800);
        </script>
    </body>
</html>